<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
<%= @user.name %>

<h1>Gradient room</h1> <form> <label>Say something:(only for testing)</label><br> <input type="text" data-behavior="room_speaker"> </form>