<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= action_cable_meta_tag %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

  <title>CSS Gradient Generator</title>
  <meta name="Description" content="Wonderful online CSS3 Gradient Generator. Easily create your custom linear or radial gradient.">
  <meta name="Identifier-URL" content="http://www.css-gradient.com" />
  <meta name="author" content="Stefano Merlo">
  <meta name="googlebot" content="noodp">

  <meta property="og:title" content="CSS Gradient Generator">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.css-gradient.com">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="CSS Gradient Generator">
  <meta property="og:description" content="Wonderful online CSS3 Gradient Generator. Easily create your custom linear or radial gradient.">

  <link rel="stylesheet" href="https://www.css-gradient.com/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

  <!-- Plugin -->
  <script src="https://www.css-gradient.com/js/jquery.colorpicker.min.js"></script>
  <!-- <link href="css/jquery.colorpicker.min.css" rel="stylesheet" type="text/css"/> -->
  <!-- <script src="js/jquery.jstepper.min.js"></script> -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div class="container">
  <div class="row" id="header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
      <h1><a href="http://www.css-gradient.com"><span class="h1">CSS<br>Gradient</span></a></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <!-- /Left Col -->
      <div class="options">
        <span class="labels">Style:</span>
        <a href="javascript:;"><span class="button active" id="btn-1">Linear</span></a>
        <a href="javascript:;"><span class="button" id="btn-2">Radial</span></a>
        <br><br>
        <span class="labels">Direction:</span>
        <a href="javascript:;"><span class="button" id="btn-7">Center</span></a>
        <a href="javascript:;"><span class="button active" id="btn-3">Top</span></a>
        <a href="javascript:;"><span class="button" id="btn-3-4">Top right</span></a>
        <a href="javascript:;"><span class="button" id="btn-4">Right</span></a>
        <a href="javascript:;"><span class="button" id="btn-5-4">Bottom right</span></a>
        <a href="javascript:;"><span class="button" id="btn-5">Bottom</span></a>
        <a href="javascript:;"><span class="button" id="btn-5-6">Bottom left</span></a>
        <a href="javascript:;"><span class="button" id="btn-6">Left</span></a>
        <a href="javascript:;"><span class="button" id="btn-3-6">Top left</span></a>
        <br><br>
        <span class="labels">Colors:</span>
        <span class="color" id="btn-c1">&nbsp;</span><input type="text" class="btn-c2" id="color" value="#74e3ec"/>
        <script>
            $(function() {
                $('.btn-c2').colorpicker({
                    altField: '#btn-c1',
                    altProperties: 'background-color,color',
                    altAlpha: true,
                    colorFormat: colortype,
                    select: function (event, color) {
                        App.room.update(color.formatted);
                        document.getElementById("color1a").innerHTML = color.formatted;
                        document.getElementById("color1b").innerHTML = color.formatted;
                        document.getElementById("color1c").innerHTML = color.formatted;
                        document.getElementById("color1d").innerHTML = color.formatted;
                        document.getElementById("color1e").innerHTML = color.formatted;

                        var csstext = $("#codetocopy").text();
                        var style = $('<style>#gradient-preview {' + csstext + '}</style>');
                        $('html > head').append(style);
                    },
                });
            });
        </script>

        <br>

        <span class="color" id="btn-c3">&nbsp;</span><input type="text" class="btn-c4" id="color" value="#c7ffe2"/>
        <script>
            $(function() {
                $('.btn-c4').colorpicker({
                    altField: '#btn-c3',
                    altProperties: 'background-color,color',
                    //colorFormat: '#HEX',
                    colorFormat: colortype,
                    select: function (event, color) {
                        //var color2_in_hex_format = color.formatted;
                        document.getElementById("color2b").innerHTML = color.formatted;
                        document.getElementById("color2c").innerHTML = color.formatted;
                        document.getElementById("color2d").innerHTML = color.formatted;
                        document.getElementById("color2e").innerHTML = color.formatted;

                        var csstext = $("#codetocopy").text();
                        var style = $('<style>#gradient-preview {' + csstext + '}</style>');
                        $('html > head').append(style);
                    },
                });
            });
        </script>

        <br><br>
        <%= yield %>
        <span class="labels">Color Format:</span>
        <a href="javascript:;"><span class="button active" id="btn-11">Hex</span></a><a href="javascript:;"><span class="button-na" id="btn-12">Rgb</span></a><a href="javascript:;"><span class="button-na" id="btn-13">Rgba</span></a>

      </div>
    </div> <!-- /Left Col -->

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <!-- /Right Col -->
      <div class="container-preview"><div class="preview" id="gradient-preview"></div></div>
      <pre class="code" id="codetocopy">
background: <span id="color1a">#74e3ec</span>; /* Old Browsers */
background: -webkit-<span id="id-type2">linear</span>-gradient(<span id="id-direction2">top</span>,<span id="color1b">#74e3ec</span>,<span id="color2b">#c7ffe2</span>); /*Safari 5.1-6*/
background: -o-<span id="id-type3">linear</span>-gradient(<span id="id-direction3">top</span>,<span id="color1c">#74e3ec</span>,<span id="color2c">#c7ffe2</span>); /*Opera 11.1-12*/
background: -moz-<span id="id-type4">linear</span>-gradient(<span id="id-direction4">top</span>,<span id="color1d">#74e3ec</span>,<span id="color2d">#c7ffe2</span>); /*Fx 3.6-15*/
background: <span id="id-type5">linear</span>-gradient(<span id="id-direction5">to bottom</span>, <span id="color1e">#74e3ec</span>, <span id="color2e">#c7ffe2</span>); /*Standard*/</pre>
      <br><br>
    </div> <!-- /Right Col -->

  </div>
</div> <!-- /container -->



<script src="https://www.css-gradient.com/js/script.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74407727-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>